<div class="main-container">
    <header class="header header-6">
        <div class="branding">
          <cds-icon shape="world" size="md"></cds-icon>
            <a href="javascript://" class="nav-link">
              <span class="title">{{translations.keys.header.title}}</span>
            </a>
          </div>
          <div class="header-nav">
              <ng-container *ngIf="headerMenu$ | async as headerMenuItems">
                <a *ngFor="let headerMenuItem of headerMenuItems" class="nav-link nav-text" [routerLink]="headerMenuItem.url">{{headerMenuItem.name}}</a>
              </ng-container>
          </div>
          <div class="header-actions">
            <clr-dropdown [clrCloseMenuOnItemClick]="false">
                <button clrDropdownTrigger class="me-1" aria-label="Dropdown">
                    <cds-icon shape="cog" class="me-1" size="md"></cds-icon>         
                    <cds-icon shape="angle"  direction="down"></cds-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right" >
                  <label class="dropdown-header" aria-hidden="true">{{translations.keys.dropdown.title}}</label>
                  <ng-container *ngIf="dropdownMenu$ | async as dropdownMenu">
                    <div *ngFor="let dropdownMenuItem of dropdownMenu" [attr.aria-label]="dropdownMenuItem.ariaLabel" clrDropdownItem>{{dropdownMenuItem.name}}</div>
                    </ng-container>
                </clr-dropdown-menu>
              </clr-dropdown>
          </div>
    </header>
    <div class="content-container">
        <nav class="clr-vertical-nav">
            <section *ngIf="sidenavMenu$ | async as sidenavMenuItems" class="sidenav-content">
              <clr-tree>
                <clr-tree-node [clrExpanded]="true" *clrRecursiveFor="let sidenavMenuItem of sidenavMenuItems;getChildren: getChildren">
                  <a class="clr-treenode-link" [routerLink]="sidenavMenuItem.url" routerLinkActive="active" >{{sidenavMenuItem.name}}</a>
                </clr-tree-node>
              </clr-tree>

            </section>
        </nav>
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>