
    <FluentNavMenu Title="Main menu">
        <FluentNavLink Icon="@(new Icons.Regular.Size20.Home())" Href="/" Match="NavLinkMatch.All">
            <h3>Home</h3>
        </FluentNavLink>

        <FluentNavGroup Expanded="true"
                        Title="More information"
                        Gap="10px">
             <FluentNavLink Href="/Customers" Icon="@(new Icons.Regular.Size20.Info())">Customers</FluentNavLink>
             <FluentNavLink Href="/ColdRoomTemperatures" Icon="@(new Icons.Regular.Size20.ArrowUp())">Cold Room Temperatures</FluentNavLink>
             <FluentNavLink Href="/VehicleTemperatures" Icon="@(new Icons.Regular.Size20.DocumentOnePageSparkle())">Vehicle Temperatures</FluentNavLink>
        </FluentNavGroup>

    </FluentNavMenu>