﻿
<ul>
    <li>
        <FluentAnchor Href="/" Appearance=Appearance.Neutral>Home</FluentAnchor>
    </li>
</ul>
<h2>Task Management</h2>
<ul>
    <li>
        <FluentAnchor Href="User Tasks" Appearance=Appearance.Neutral>My Tasks</FluentAnchor>
    </li>
</ul>
