﻿
<ul>
    <li>
        <FluentAnchor Href="/" Appearance=Appearance.Neutral>Home</FluentAnchor>
    </li>
</ul>
<h2>Data Management</h2>
<ul>
    <li>
        <FluentAnchor Href="/Customers" Appearance=Appearance.Neutral>Customers</FluentAnchor>
        <FluentAnchor Href="/ColdRoomTemperatures" Appearance=Appearance.Neutral>Cold Room Temperatures</FluentAnchor>
        <FluentAnchor Href="/VehicleTemperatures" Appearance=Appearance.Neutral>Vehicle Temperatures</FluentAnchor>
    </li>
</ul>
