/* You can add global styles to this file, and also import other style files */
@import '~@cds/core/global.min.css'; // clarity global styles
@import '~@cds/city/css/bundles/default.min.css'; // load base font

@import "./styles/utilities";

.clr-treenode-link {
    text-decoration: none;
}

.datagrid-host {
    height: 100%;
    width: 100%;
}